<ul>
	{{#each tours}}
		<li>
			{{name}} = {{price}}
			{{#if ../currencies}}
				({{../../currency.abbrev}})
			{{/if}}
		</li>
	{{/each}}
</ul>


{{#unless currencies}}
	<p>All prices in {{currency.name}}.</p>
{{/unless}}

{{#if specialsUrl}}
	<p>Check out our <a href="{{specialsUrl}}" title="specials">specials</a></p>
{{else}}
	<p>Please check back often for specials</p>

{{/if}}


<p>
	{{#each currencies}}
		<a href="#" class="currency">{{.}}</a>
	{{else}}
		<p>Unfortunately, we currently only accept {{currency.name}}</p>
	{{/each}}

</p>